@charset "UTF-8";
body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#pao {
  background-color: rgba(138, 137, 137, 0.3);
}

#Header {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 25px 45px;
  justify-content: space-around;
}

#Header-Nav {
  display: none;
}

#Header-Nav a {
  text-decoration: none;
  font-size: calc((2 - 1) * 0.5vh + 0.9rem);
  color: #313131;
  height: 25px;
}

.Selected {
  border-bottom: solid 1px #313131;
}

#Logo {
  width: 300px;
  display: flex;
  justify-content: center;
}

#Logo a {
  font-size: calc(1em + 1vw);
  line-height: calc(1.2em + 1vw);
  text-decoration: none;
  color: #313131;
  font-weight: 600;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Header-icons {
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

#Header-icons img {
  width: 20px;
  cursor: pointer;
}

#Header-Icon-twitter {
  display: none;
}

#Header-Icon-instagram {
  display: none;
}

#Header-Icon-Cart {
  display: flex;
}

#Menu-Icon {
  display: flex;
  width: 30px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#Menu-Nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 100%;
  background-color: white;
  z-index: 8;
}

#Menu-Nav-Item {
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #313131;
  font-weight: 600;
}

#Menu-Icon-x {
  display: flex;
  width: 20px;
  margin-right: 10px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #Logo {
    z-index: 100;
  }

  #Menu-Icon-x {
    z-index: 100;
  }

  #Header-Icon-Cart {
    z-index: 100;
  }
}
@media screen and (min-width: 900px) {
  #Logo {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #Menu-Icon {
    display: none;
  }

  #Header {
    justify-content: space-between;
    padding: 50px 45px;
  }

  #Header-Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

  #Header-Icon-twitter {
    display: flex;
    margin: 0 10px;
  }

  #Header-Icon-instagram {
    display: flex;
  }

  #Header-Icon-Cart {
    margin-left: 20px;
  }
}
#pao {
  background-color: rgba(138, 137, 137, 0.3);
}

#pao {
  background-color: rgba(138, 137, 137, 0.3);
}

#Compras {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Category {
  width: 90%;
  padding: 30px 0;
  display: flex;
}

#Category li {
  margin: 0 5px;
  list-style-type: none;
}

#Category li a {
  display: flex;
  text-decoration: none;
  color: #313131;
  white-space: nowrap;
}

#Clothe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#Clothe {
  width: 85%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 330px;
}

#Clothe-title {
  font-weight: 600;
  font-size: calc(1em + 1vw);
  line-height: calc(1.2em + 1vw);
  margin: 10px 0;
}

#Clothe-price {
  font-size: calc(1em + 1vw);
  line-height: calc(1.0em + 1vw);
}

#Clothe-hover {
  position: absolute;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#Clothe-hover a {
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0c;
  padding: 20px;
  font-size: 14px;
  transition: 2s;
  text-decoration: none;
  z-index: 2;
}

#imgandhover {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
#imgandhover:hover #imgandhover img {
  transform: scale(1.5);
}

#imgandhover img {
  width: 100%;
}

.scale {
  transition: 0.2s;
  transform: scale(1.2);
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  #Clothe-section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
    justify-content: center;
    column-gap: 10px;
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  #Clothe-section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
    justify-content: center;
    width: 100%;
    padding: 50px 20px;
    border-top: solid 1px #bbbbbb;
  }

  #Clothe {
    margin: 0;
    height: calc(200px + 20vw);
    width: 95%;
  }
}
@media screen and (min-width: 700px) {
  #Clothe-hover {
    transition: 0.5s;
  }
  #Clothe-hover:hover {
    opacity: 1;
  }

  #Clothe {
    max-height: 430px;
    max-width: 270px;
  }

  #Clothe-title {
    margin: 0;
    font-size: calc(0.8em + 0.5vw);
    line-height: calc(1.2em + 1vw);
  }

  #Clothe-price {
    font-size: calc(0.6em + 0.5vw);
    line-height: calc(0.5em + 1vw);
  }
}
@media screen and (min-width: 1000px) {
  #Clothe-section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto;
    row-gap: 80px;
    justify-content: center;
    width: 100%;
    padding: 50px 20px;
    border-top: solid 1px #bbbbbb;
  }

  #Clothe {
    margin: 0;
    height: calc(200px + 20vw);
    width: 95%;
  }

  #Category {
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  #Clothe {
    max-height: 430px;
    max-width: 270px;
  }

  #Clothe-title {
    margin: 0;
    font-size: calc(0.8em + 0.5vw);
    line-height: calc(1.2em + 1vw);
  }

  #Clothe-price {
    font-size: calc(0.6em + 0.5vw);
    line-height: calc(0.5em + 1vw);
  }
}
@media screen and (max-width: 300px) {
  #Category {
    overflow-x: scroll;
  }
}
#Footer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#Catálogo-link {
  font-size: calc(1em + 2vw);
  border-bottom: solid 1px #8b8b8b;
  color: #8b8b8b;
  cursor: pointer;
  margin: 60px 0;
}

#Footer-Media {
  display: flex;
  width: 60px;
  justify-content: space-around;
}

#Footer-Media img {
  width: 20px;
  cursor: pointer;
}

#Footer-newsUpdate {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

#Footer-newsUpdate p {
  font-size: 15px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

#Footer-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

#Footer-form input {
  height: 50px;
  width: 100%;
  border: solid 1px gray;
  outline: none;
  max-width: 400px;
  padding: 4px;
}

#Footer-form button {
  border: none;
  height: 50px;
  width: 100px;
  background-color: #9b9b9b;
  color: white;
  cursor: pointer;
}
#Footer-form button:hover {
  background-color: #3b3b3b;
}

#credits {
  font-size: 15px;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#credits * {
  margin: 0 5px;
}

#Catálogo {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#catálogo-carousel {
  width: 100%;
  max-width: 500px;
}

#catálogo-carousel img {
  width: 100%;
  max-width: 400px;
}

#Slide-button {
  height: 30px;
  width: 30px;
  color: black;
  border: none;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
}
#Slide-button:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 800px) {
  #catálogo-carousel img {
    width: 100%;
    max-width: 400px;
  }
}
#Sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Sobre img {
  padding: 10px 0;
}

#Sobre div {
  padding: 20px;
}

#Sobre div * {
  margin: 10px 0;
}

#Sobre div h4 {
  font-size: calc(0.7em + 1vw);
}

@media screen and (min-width: 650px) {
  #Sobre div {
    width: 100%;
    max-width: 600px;
    padding: 0;
  }

  #Sobre img {
    width: 100%;
    max-width: 600px;
  }
}
#Contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#Contato * {
  margin: 10px 0;
}

#Contato-texts {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 500px;
}
#Contato-texts * {
  margin: 5px 0;
}
#Contato-texts * h4 {
  font-size: calc(1em + 1vw);
}

#Contato-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Contato-form-name {
  display: flex;
  width: 100%;
  padding: 0 20px;
  flex-direction: column;
}
#Contato-form-name div {
  display: flex;
  justify-content: space-between;
}
#Contato-form-name input {
  width: 48%;
  height: 45px;
  padding: 10px;
  outline: none;
  border: solid 1px #c5c5c5;
}

#Contato-form-email {
  display: flex;
  justify-content: center;
  border: none;
  width: 100%;
  padding: 0 20px;
}
#Contato-form-email input {
  width: 100%;
  height: 45px;
  padding: 10px;
  outline: none;
  border: solid 1px #c5c5c5;
}

#Contato-form-subject {
  display: flex;
  justify-content: center;
  border: none;
  width: 100%;
  padding: 0 20px;
}
#Contato-form-subject input {
  width: 100%;
  height: 45px;
  padding: 10px;
  outline: none;
  border: solid 1px #c5c5c5;
}

#Contato-form-message {
  display: flex;
  justify-content: center;
  border: none;
  width: 100%;
  padding: 0 20px;
}
#Contato-form-message textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  outline: none;
  border: solid 1px #c5c5c5;
  resize: none;
}

#Contato button {
  height: 60px;
  width: 100px;
  border: none;
  color: #fdfdfd;
  background-color: #818181;
  font-size: 20px;
  cursor: pointer;
}
#Contato button:hover {
  background-color: #9b9b9b;
}

@media screen and (min-width: 900px) {
  #Contato {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
  }
  #Contato * {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=App.css.map */
